﻿.txt
{
     border: 2px solid rgb(173, 204, 204);
     height: 31px;
     width: 223px;
     box-shadow: 0px 0px 27px rgb(204, 204, 204) inset;
     transition:500ms all ease;
     padding:3px 3px 3px 3px;
}
.btn {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.btn2:hover
{
    background-color: #008CBA;
    color: white;
}

